*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container{
    height: 100vh;
    background-color:#EBF3Fb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    width: 65%;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0px 24px 28px 9px rgb(179 193 217 / 50%);
}
.headphones-image{
    height: 40%;
    width: 40%;
} 
.shipping-tag{
    background-color: black;
    border-radius: 25px;
    color: white;
    width: 30%;
    text-align: center;
    padding: 3px;
    margin-bottom: 10px;
}
.product-title{
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 30px;
    line-height: 33px;
 }
.old-price{
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
    margin-bottom: 5px;
}
.discount-price{
    font-size: 45px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 53px;
}
.offer-description{
    color:#90919B;
    margin-top: 0;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 18px;
}
.cart-button{
    background-color: rgb(71, 114, 233);
    height: 50px;
    width: 350px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius:10px;
    border-bottom: 5px solid blue;
    margin-bottom: 20px;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: rgb(74, 236, 77);
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  .stock-details{
    font-weight: 600;
    font-size: 13px;
  }
  .button-container{
    margin-top: 30px;
    display: flex;
  }
  .cart-button-2{
    background-color: transparent;
    border-width: 1px;
    border-radius: 5px;
    border-color: #90919B;
    border-style: solid;
    height: 45px;
    width: 170px;
    font-size: 15px;
    margin-right: 10px;
  }
  .cart-button-3{
    background-color: transparent;
    border-width: 1px;
    border-radius: 5px;
    border-color: #90919B;
    border-style: solid;
    height: 45px;
    width: 170px;
    font-size: 15px;
    margin-right: 10px;
  }
  .icon{
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
  }


@media only screen and (min-width:312px) and (max-width: 480px) {
    .card{
        width: 50%;
        text-align: center;
    }
    .card-details{
        text-align: left;
    }
    .headphones-image{
        height: 60%;
        width: 60%;
    } 
    .product-title{
        font-size: 1.1em;
        line-height: 25px;
    }
    .shipping-tag{
        width: 100px;
        font-size: 80%;
    }
    .old-price{
        font-size: 100%;
    }
    .discount-price{
        font-size: 2em;
    }
    .offer-description{
        font-size: 0.7em;
    }
    .cart-button{
        width: 100%;
        height: 2em;
    }
    .offer-description{
     font-size: 1em;
    }
    .cart-button-2, .cart-button-3{
        width: 100%;
        font-size: 0.7em;
        height: 3em;
        margin-bottom: 5px;
    }
    .icon{
        font-size: 12px;
        margin-right: 5px;
    }
}


@media only screen and (min-width:481px) and (max-width: 768px) {
    .card{
        width: 50%;
        text-align: center;
    }
    .card-details{
        text-align: left;
    }
    .headphones-image{
        height: 60%;
        width: 60%;
    } 
    .product-title{
        font-size: 1.1em;
    }
    .shipping-tag{
        width: 40%;
        font-size: 80%;
    }
    .old-price{
        font-size: 100%;
    }
    .discount-price{
        font-size: 2em;
    }
    .offer-description{
        font-size: 0.7em;
    }
    .cart-button{
        width: 97%;
        height: 3em;
    }
    .offer-description{
     font-size: 1em;
    }
    .cart-button-2, .cart-button-3{
        width: 47%;
        font-size: 0.8em;
        height: 3.5em;
        margin-right: 3px;
        margin-bottom: 5px;
    }
    .icon{
        font-size: 14px;
        margin-right: 5px;
    }
}

@media only screen and (min-width:769px){
     .card{
        display: flex;
        height: 450px;
        width:600px;
     }
}